<!DOCTYPE html>
<html>
<head>
	<title>Star Wars Characters Movies</title>
	<link rel="stylesheet" type="text/css" href="style.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral+SC" rel="stylesheet">
</head>
<body>
	<div id="character-app">
		<div id="characters">
			<ul>
				<character-list v-for="char in characterList" v-bind:character="char" v-bind:key="char.name">
				</character-list>
			</ul>
		</div>
		<div id="show">
			<ul>
				<h2>{{movieList.length > 0 ? activeCharacter.name + "'s Movies" : message }}</h2>
				<movie-list v-for="mov in movieList" v-bind:movie="mov" v-bind:key="mov.name"></movie-list>
			</ul>
		</div>
	</div>
		<div id="ship" v-html="image" v-if="visible" v-bind:style="styleObject" v-on:click="fly"></div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script src="date.js" type="text/javascript"></script>
<script type="text/javascript" src="vue.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>